
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;
    font-family: system-ui, sans-serif;
    background-color: #fff9e6;
    color: #267809;
}